/* 2.1 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}

#content-area {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", serif;
}

#page-title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 50px;
    color: black;
    margin: 0;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(130, 130, 130, 0.8);
}

/* 2.2 */
header {
    font-size: 0;
    margin-bottom: 2rem;
}

#page-title,
#date {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

#page-title {
    width: 70%;
    font-size: 50px;
}

#date {
    width: 30%;
    text-align: right;
    font-size: 1rem;
}

/* 2.3 */
#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}

#main-nav a {
    display: block;
    background-color: black;
    color: white;
    line-height: 2.5rem;
}

#main-nav a:hover {
    background-color: rgba(130, 130, 130, 0.8);
}

/* 2.4 */
main {
    float: left;
    width: 75%;
    box-sizing: border-box;
    padding-right: 2rem;
}

aside {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

footer {
    clear: both;
}

/* 2.5 */
.current-story {
    float: right;
    width: 40%;
    margin: 0 0 1rem 1rem;
    position: relative;
}

.current-story img {
    width: 100%;
    display: block;
}

.current-story figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
}

/* 2.6 */
#news-panel {
    clear: both;
    margin-top: 2rem;
}

.story-preview {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin-right: 1%;
}

.story-thumbnail {
    width: 100%;
    display: block;
}

.caption {
    text-align: center;
    margin-top: 0.5rem;
}

aside h2 {
    margin-top: 0;
}

.most-popular-list {
    padding-left: 1.2rem;
}

.most-popular-list li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #333;
    color: white;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    margin-top: 2rem;
}